<article class="question">
  <h2>
    <%= link_to question.title, question_path(question) %>
  </h2>

  <ul class="meta">
    <li class="who">
      <%= render "shared/record_meta", record: question %>
    </li>

    <li class="answers icon">
      <%= t("question.answers_count_html", count: question.answers_count) %>
    </li>
  </ul>
</article>

