<h1><%= t("titles.questions.search") %></h1>

<%= form_tag search_path, method: "get" do %>
  <p>
    <%= search_field_tag :query, nil, autocomplete: true, results: 5 %>
    <%= submit_tag "OK" %>
  </p>
<% end %>
