<%= link_to user_path(user), class: "user" do %>
  <%=
    hash = Digest::MD5.hexdigest(user.email)
    image_tag("http://gravatar.com/avatar/#{hash}?s=50&d=mm",
    alt: user.name, class: "avatar")
  %>
  <span class="name"><%= user.name %></span>
<% end %>
